NEXT_PUBLIC_APPWRITE_ENDPOINT=YOUR_ENDPOINT
NEXT_PUBLIC_APPWRITE_PROJECT_ID=YOUR_PROJECT_ID

APPWRITE_DATABASE_ID=passwordManagerDb

APPWRITE_COLLECTION_CREDENTIALS_ID=credentials
APPWRITE_COLLECTION_TOTPSECRETS_ID=totpSecrets
APPWRITE_COLLECTION_FOLDERS_ID=folders
APPWRITE_COLLECTION_SECURITYLOGS_ID=securityLogs
APPWRITE_COLLECTION_USER_ID=user

APPWRITE_COLLECTION_CREDENTIALS_NAME=Credentials
APPWRITE_COLLECTION_TOTPSECRETS_NAME=TOTP Secrets
APPWRITE_COLLECTION_FOLDERS_NAME=Folders
APPWRITE_COLLECTION_SECURITYLOGS_NAME=Security Logs
APPWRITE_COLLECTION_USER_NAME=user

NEXT_PUBLIC_APP_BASE_URL=



NEXT_PUBLIC_LOGGING_VERBOSE=